# Editor defaults: UTF-8 + LF everywhere (pairs with .gitattributes).
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.go]
indent_style = tab

[*.{json,jsonc}]
indent_style = space
indent_size = 2

[*.{yml,yaml}]
indent_style = space
indent_size = 2

[*.toml]
indent_style = space
indent_size = 2

[*.md]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

[*.sh]
indent_style = space
indent_size = 2

[*.{bat,cmd}]
end_of_line = crlf
